  version: 2.1

  orbs:
    python: circleci/python@0.3.2

  jobs:

    build-and-test:
      executor: python/default
      environment:
        PYTHONPATH=./capstone-valimail
      steps:
        - checkout
        - python/load-cache
        - python/install-deps
        - python/save-cache
        - run:
            name: Running tests
            working_directory: ./capstone-valimail
            command: |
              python3 -m unittest discover -v
              python --version

  lint-and-coverage:
    executor: python/default
    environment:
      PYTHONPATH=./capstone-valimail
    steps:
      - checkout
      - python/load-cache
      - python/install-deps
      - python/save-cache
#      - run:
#          name: Linter
#          command: |
#            flake8 src/
#            flake8 test/
      - run:
          name: Coverage
          command: |
            coverage run
            coverage report


  workflows:
    main:
      jobs:
        - build-and-test


# https://www.youtube.com/watch?v=0Ng2622UBe8&t=258s
# https://www.jetbrains.com/help/pycharm/viewing-code-coverage-results.html